h3{
  padding-left: 20px;
}
a{
  padding: 20px;
}
.hr{
  margin: 0;
  padding: 0 10px;
  font-weight: bold;
  list-style-type: none;
}

.col-section{

    overflow: hidden;
    overflow-x: scroll;
    background: #bbdcfa;
    white-space:nowrap;
}

.task-wrapper{
  border: 1px solid black;
  padding: 7px;
  width: 300px;
  height: 300px;
}

.task{
  list-style-type: none;
  font-weight: lighter;
  margin-bottom: 10px;
  width: max-content;
  padding: 5px;
}
.task-title{
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}
.col-wrapper{
  display: inline-table;
  padding-top: 0;
}

.form-container{
  justify-content: center;
  display: flex;
  font-size: 16px;
}

#edit-btn{
  margin-left: 37%;
}

#dsc-container{
  height: 150px;
  width: 150px;
}

.ind-container {
  margin: 0 auto;
  position: relative;
  width: 60%;
  height: 100vh;
}

.ind-container h2{
  padding-top: 30px;
  margin: 50px 40%;
}

.boards-container{
  margin: 10px 50px;
  height: 300px;
  display: flex;
  padding-top: 0;
}

.boards-container a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.board-lnk{
  flex: 1;
  text-align: left;
  border-radius: 3px;
  background-color: #bbdcfa;
  width: 40px;
  height: 100px;
  margin: 10px;
}

.time-container{
  position: absolute;
  top: 110px;
  left: 0;
  width: 300px;
  height: 200px;
  padding: 20px;
}

a {
  user-select: none;
  color: blue;
}

a:hover {
  color: darkblue;
}

button{
  display: block;
  margin: 0 auto;
}