h3{
  padding-left: 20px;
}
a{
  padding: 20px;
}
.hr{
  margin: 0;
  padding: 0 10px;
  font-weight: bold;
  list-style-type: none;
}

.col-section{

    overflow: hidden;
    overflow-x: scroll;
    background: #bbdcfa;
    white-space:nowrap;
}

.task-wrapper{
  border: 1px solid black;
  padding: 7px;
  width: 300px;
  height: 300px;
}

.task{
  list-style-type: none;
  font-weight: lighter;
  margin-bottom: 10px;
  width: max-content;
  padding: 5px;
}
.task-title{
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}
.col-wrapper{
  display: inline-table;
  padding-top: 0;
}

.form-container{
  justify-content: center;
  display: flex;
  font-size: 16px;
}

#edit-btn{
  margin-left: 37%;
}

#dsc-container{
  height: 150px;
  width: 150px;
}

.ind-container {
  margin: auto;
  position: initial;
  width: 80%;
  display: flex;
}

.ind-container h2{
  padding-top: 30px;
  margin: auto 25%;
  display: inline-table;
}

.boards-container{
  flex: 3;
  margin: 10px 50px;
  height: 300px;
  display: flex;
  padding-top: 10%;
  width: 60%;
}

.boards-container a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;

}

.board-lnk{
  flex: 1;
  text-align: left;
  border-radius: 4px;
  background-color: #bbdcfa;
  width: 30px;
  height: 100px;
  margin: 10px;
}

.board-lnk:hover{
  background-color: #d5e5f7;
}
.board-lnk a {
  user-select: none;
  padding: 5% 50% 25% 5%;
}

.board-lnk a:hover {
  color: darkblue;
}
.time-container{
  flex: 1;
  width: 30px;
  height: 55px;
  color: #d8dee5;
}

.time-container h4{
  text-align: right;
}

button{
  display: block;
  margin: 0 auto;
}