{% extends 'base.html' %}
{% block content %}
    <div class="form-container">
        <form class="board-form" action="{% url 'add_board' %}" method="post">
            {% csrf_token %}
            <h3>Add a board</h3>
            <label for="board_title">Board title</label><br>
            <input name="board_title" required> <br><br>
            <label for="columns">Columns</label><br>
            <textarea name="columns" required placeholder="Enter columns' titles separated by comma"></textarea><br>
            <button class="submit-btn" type="submit">OK</button>
        </form>
    </div>
{% endblock %}