{% extends 'base.html' %}
{% block content %}
<div class="form-container">
        <form class="form-edit" action="{% url 'edit_task' board_id task_id %}" method="post">
            {% csrf_token %}
                <h3>Edit a task</h3>
                 <label for="title">Title</label>


                  <input type="text" name="title" required value="{{ task.title }}"><br><br>
                    <div class="desc-container">
                      <label for="description">Description</label><br>
                        <textarea id="dsc-input" name="description">{{ task.description }}</textarea>
                        <br><br>
                    </div>
                    <label for="deadline">Deadline</label><br>
                  <input type="datetime-local" name="deadline" value="{{ deadline }}" required><br><br>
                    <select name="priority" required>
                    <option value="{{ task.priority }}" selected>{{ task.priority }}</option>
                    {% for priority_choice in priority_choices %}
                        {% if priority_choice != task.priority %}
                    <option value="{{ priority_choice }}">{{ priority_choice }}</option>
                        {% endif %}
                    {% endfor %}
                  </select>

                  <select name="column">
                    <option value="{{ task_column.id }}" selected>{{ task_column.title }}</option>
                    {% for column in columns %}
                        {% if column.id != task_column.id %}
                    <option value="{{ column.id }}">{{ column.title }}</option>
                        {% endif %}
                    {% endfor %}
                  </select><br><br>
            <div class="task-edit-cont">
                <input id="task-save-btn" type="submit" name="edit" value="Save">
               <input id="task-dlt-btn" type="submit" name="delete" value="Delete this task"><br>
            </div>
        </form>
</div>
{% endblock %}