{% extends 'base.html' %}
{% block content %}
        <h3>{{ board.title }}</h3>
        <form class="dlt-board-form" method="post">
            {% csrf_token %}
            <input id="dlt-board-btn" type="submit" name="delete" value="Delete this board">
        </form> <br>
        <div class="col-section">
        {% for column in columns %}
            <div class="col-wrapper">
            <ul class="container">
            <li class="hr">{{ column.title }}
                   <div class="task-wrapper">
                       {% for task_set in tasks %}
                           {% for task in task_set %}
                               {% if task.column_id == column.id %}
                                <div class="task">
                                <a class="task-title" href="{% url 'edit_task' board.id task.id  %}">{{ task.title }}</a>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                       <div class="add-task-lnk">
                           <a href="{% url 'create_task' board.id %}">+ Add a card</a>
                       </div>
                  </div>
            </li>
            </ul>
            </div>
        {% endfor %}
        <div class="col-wrapper"><a href="{% url 'add_column' board.id %}"> + Add another column</a><br><br></div>
       </div>
{% endblock %}