{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <meta charset="utf-8" />
        <title>{{ board.title }}</title>
    </head>
    <body>
        <h3>{{ board.title }}</h3>
        <a href="{% url 'create_task' board.id %}">Create a new task</a>

        <div class="col-section">
        {% for column in columns %}
            <div class="col-wrapper">
            <ul class="container">
            <li class="hr">{{ column.title }}
                   <div class="task-wrapper">
                       {% for task_set in tasks %}
                           {% for task in task_set %}
                               {% if task.column_id == column.id %}
                                <div class="task">
                                <a class="task-title" href="{% url 'edit_task' board.id task.id  %}">{{ task.title }}</a>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                  </div>
            </li>
            </ul>
            </div>
        {% endfor %}
       </div>
    </body>
</html>